In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("MegaMart_sales.csv")

In [3]:
df_new= pd.read_csv("MegaMart_newsales.csv")

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [4]:
#your code here
megamart_sales = df.append(df_new)

In [7]:
megamart_sales[(megamart_sales.Category =='Office Supplies')].Sales.sum()

7970

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [9]:
#your code here

megamart_sales = megamart_sales.drop_duplicates()

In [10]:
megamart_sales[(megamart_sales.Category =='Office Supplies')].Sales.sum()

6964

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [15]:
megamart_sales.groupby(['Category','Sub-Category']).Profit.sum()

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [43]:
#your code here

megamart_sales['Order'] = megamart_sales['Order ID'].str.split('-')

In [46]:
megamart_sales['Order'] = megamart_sales['Order'].apply(lambda x:x[2])

In [47]:
megamart_sales['Order_digits'] =  megamart_sales['Order'].apply(lambda x :len(x))

In [51]:
megamart_sales['Valid Order'] = megamart_sales['Order_digits'].apply(lambda x: 'Y' if x ==7 else 'N')

In [53]:
megamart_sales['Valid Order'].value_counts()

Y    54
N     7
Name: Valid Order, dtype: int64

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [59]:
#your code here

Top25_sales = megamart_sales.sort_values(by='Sales', ascending=False).head(25)

In [66]:
Top25_sales[(Top25_sales['Category']=='Furniture')]

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order,Order_digits,Valid Order
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,144325,6,N
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,1253407,7,Y
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,130330,6,N
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases,1916360,7,Y
43,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs,1589827,7,Y

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [75]:
#your code here

megamart_sales[((megamart_sales.Sales > 250) & (megamart_sales.Profit > 50))].sort_values(by='Sales', ascending=False).iloc[3]

Order ID                         AZ-2011-1322840
Product Name    Motorola Headset, with Caller ID
Discount                                       0
Sales                                        957
Profit                                       316
Quantity                                      12
Category                              Technology
Sub-Category                              Phones
Order                                    1322840
Order_digits                                   7
Valid Order                                    Y
Name: 20, dtype: object

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [78]:
#your code here

megamart_sales = megamart_sales[(megamart_sales.Profit > 0)]

In [79]:
megamart_sales[(megamart_sales.Profit < 0)]

Empty DataFrame
Columns: [Order ID, Product Name, Discount, Sales, Profit, Quantity, Category, Sub-Category, Order, Order_digits, Valid Order]
Index: []

In [87]:
Sales_technology = megamart_sales[(megamart_sales['Category']=='Technology')]

In [89]:
Sales_technology['Profit_per_Qty'] = Sales_technology['Profit']/Sales_technology['Quantity']

<ipython-input-89-884fb2fb0b91>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Sales_technology['Profit_per_Qty'] = Sales_technology['Profit']/Sales_technology['Quantity']

In [92]:
Sales_technology.sort_values(by='Profit_per_Qty').iloc[0]

Order ID                          AZ-2011-1536006
Product Name      Logitech Keyboard, Programmable
Discount                                        0
Sales                                         666
Profit                                         66
Quantity                                        9
Category                               Technology
Sub-Category                          Accessories
Order                                     1536006
Order_digits                                    7
Valid Order                                     Y
Profit_per_Qty                            7.33333
Name: 39, dtype: object